.top{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.topnav{
    font-size: 0.3rem;
    font-weight: 600;
}
.shop{
    width: 3.6rem;
    height: 5rem;
    margin-left: 0.1rem;
    display: inline-block;
    overflow: hidden;
    background-color: greenyellow;
}