.cartList {
    width: 92%;
    margin: 0 auto;
  }
  .cartList .cartListItem {
    width: 100%;
    margin-bottom: 0.04rem;
  }
  .cartList .cartListItem .shopList {
    width: 100%;
    height: 9.3rem;
    overflow-y: scroll;
    padding: 0 0.09rem;
  }
  .cartList .cartListItem .shopList li {
    width: 100%;
    height: 2.11rem;
    border: 0.02rem solid #e6e6e6;
    background: #fff;
    margin: 0.2rem 0;
    overflow: hidden;
  }
  .cartList .cartListItem .shopList li .checkbtn {
    width: 0.4rem;
    height: 1.11rem;
    position: relative;
    top:-0.5rem;
  }
  .cartList .cartListItem .shopList li .UnChecked {
    background: url() no-repeat;
    background-size: 100% 0.25rem;
  }
  .cartList .cartListItem .shopList li .shopImg {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 0.1rem;
    display: inline-block;
    overflow: hidden;
  }
  .cartList .cartListItem .shopList li .shopImg .shopImgShow {
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;

  }
  .cartList .cartListItem .shopList li .shopImg .shopImgShow img {
    width: 100%;
  }
  .cartList .cartListItem .shopList li .shopInfo {
    width: 3.8rem;
    height: 2.0rem;
    vertical-align: top;
    display: inline-block;
    position: relative;
  }
  .cartList .cartListItem .shopList li .shopInfo .shopTitle {
    width: 100%;
    margin: 0.28rem 0.04rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.14rem;
  }
  .cartList .cartListItem .shopList li .shopInfo .shopTop {
  
    font-size: 0.14rem;
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
  }
 
  
  .cartList .cartListItem .shopList li .shopInfo .shopPrice .price span {
    font-size: 0.3rem;
    color: #f96d16;
  }
  

  
  .cartList  .sum {
    width: 100%;

    background: #fff;
    padding-left: 0.1rem;
  }

  .cartList  .sum .checkPrice {
    display: inline-block;
    width: 3rem;
    height: 1rem;
    line-height: 0.41rem;
    padding: 0.08rem 0;
    margin: 0.4rem;
  }
  .cartList  .sum .checkPrice .totalPrice {
      
    width: 3rem;
    height: 0.8rem;
    line-height: 0.36rem;
    font-size: 0.16rem;
    color: #f96d16;
  }
  .cartList  .sum .checkPrice .totalPrice .allsum {
    width: 3rem;
    font-size: 0.13rem;
    color: #333;
  }
  .cartList  .sum .checkPrice .fee {
    width: 3rem;
    font-size: 0.13rem;
    color: #999;
  }
  .cartList  .sum .btnCheck {
    width: 1.15rem;
    height: 0.49rem;
    background: #f96d16;
    line-height: 0.49rem;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 0.4rem;
    vertical-align: top;

  }
  .cartList  .sum .btnNoCheck {
    width: 1.15rem;
    height: 0.49rem;
    background: #999999;
    line-height: 0.49rem;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 0.4rem;
    vertical-align: top;



    
  }
  .cartList  .sum >.input {
    width: 0.4rem;
    height: 0.5rem;

  }
  .imgs{
      width: 3rem;
      height: 3rem;
  }
  .img_decs{
    width: 3rem;
    height: 3rem;
    border-radius: 0.1rem;
    box-shadow: 0.02rem 0.02rem 0.02rem 0.02rem gold;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
    overflow: hidden;
    display: inline-block; 
    position: relative;
  }
  .che{
      position: absolute;
      top:0;
      right: 0;
  }